name: Node.js CI

on:
  push:
    branches:
      - master

jobs:
  DEPLOY:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.15]

    steps:
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/staging.key
          chmod 600 ~/.ssh/staging.key
          cat >>~/.ssh/config <<END
          Host node-test
            Hostname 54.252.173.191
            user ubuntu
            IdentityFile ~/.ssh/staging.key
            StrictHostKeyChecking no
          END
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}

      - name: Check hostname
        run: ssh node-test 'cd /home/ubuntu/app/node-test && /bin/bash deploy.sh'
