name: Node.js CI

on:
  push:
    branches:
      - master

jobs:
  DEPLOY:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.15]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Building
        run: npm install

      - name: Testing
        run: npm test
        env:
          CI: true

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/staging.key
          chmod 600 ~/.ssh/staging.key
          cat >> ~/.ssh/config << END
          Host node-test
            Hostname 54.252.173.191
            user ubuntu
            IdentityFile ~/.ssh/staging.key
            StrictHostKeyChecking no
          END
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}

      - name: Deploying
        run: ssh node-test 'cd /home/ubuntu/app/node-test && /bin/bash deploy.sh'
